/* RecipeDetail.css */

body {
    background-color: #f8f9fa; /* Light grey background */
  }
  
  .container {
    padding: 20px;
  }
  
  .text-muted {
    color: #6c757d;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-3 {
    margin-bottom: 1rem; /* Adjusts margin-bottom based on the class */
  }

  .mb-4 {
    margin-bottom: 1rem; /* Adjusts margin-bottom based on the class */
  }

  .mb-5 {
    margin-bottom: 1rem; /* Adjusts margin-bottom based on the class */
  }

  .mb-10 {
    margin-bottom: 1rem; /* Adjusts margin-bottom based on the class */
  }
  
  .list-unstyled {
    list-style-type: none; /* Removes bullet points from lists */
    padding: 0;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto; /* Makes images responsive */
  }
  
  .rounded {
    border-radius: 0.25rem; /* Rounds the corners of images */
  }
  
  a {
    color: #007bff;
    text-decoration: none; /* Styles links */
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: underline; /* Styles links on hover */
  }
  
  .add-to-grocery-list-button {
    padding: 2px 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    background-color: white;
    color: black;
  }
  .add-to-grocery-list-button:hover {
    background-color: #ebbd34;
    color: white
  }

  .show-instructions-button {
    padding: 6px 10px;
    font-size: 1.0rem;
    margin-bottom: 10px;
    background-color: white;
    color: black
  }

    .show-instructions-button:hover {
        background-color: #ebbd34;
        color: white
    }

    .back-to-home-button {
        padding: 6px 10px;
        font-size: 1.2rem;
        margin-bottom: 10px;
        background-color: white;
        color: black
    }

    .back-to-home-button:hover {
        background-color: #ebbd34;
        color: white
    }
    
    
.ingredient-box {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; /* 边框 */
    border-radius: 5px; 
    padding: 20px; 
    margin-top: 100px;
  }
  
  .ingredient-box h3 {
    margin-bottom: 20px; 
    color: #343a40; /* 标题颜色 */
  }
  
  .ingredient-box ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .ingredient-box li {
    margin-bottom: 5px; /* 列表项底部间距 */
    font-size: 16px; /* 字体大小 */
  }

  .title-box {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column; /* 垂直堆叠 */
    justify-content: center;
    align-items: center; /* 垂直居中 */
    position: relative; /* 允许图标绝对定位 */
    padding: 1rem; /* 添加一些内边距 */
    margin-bottom: 1rem; /* 底部间距 */
  }
  
  .recipe-title {
    flex-grow: 1; /* 使标题占据可用空间 */
    text-align: center; /* 标题文本居中 */
    margin: 0; /* 移除默认的 h1 标签的外边距 */
  }
  
  .favorite-icon {
    margin-top: 0.5rem; /* 添加顶部间距 */
    color: #ebbd34; /* 图标颜色 */
    cursor: pointer; /* 鼠标悬停时显示指针光标 */
    width: 40px; /* 图标大小 */
    height: 40px; /* 图标大小 */
    
    /* 媒体查询：当屏幕宽度小于或等于768px时调整图标大小 */
    @media (max-width: 768px) {
      margin-top: 0.25rem;
      width: 30px;
      height: 30px;
    }
  }
  
  /* 媒体查询：在小屏幕下调整标题字体大小 */
  @media (max-width: 768px) {
    .recipe-title {
      font-size: 1.5rem;
    }
  }

    

