.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 0;
  overflow-x: hidden; /* 防止水平滚动条出现 */
}

.App-header {
  background-color: #ebbd34;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(30px + 1vmin); /* 使用 vmin 单位保证字体大小随视口大小变化 */
  color: white;
  font-family: 'Gwendolyn', cursive;
  padding: 0 20px; /* 左右边距，可根据需要调整 */
}

.icon-container {
  flex: 0 0 auto; /* 阻止图标容器伸展 */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  flex: 0 0  auto; /* 阻止空白区域伸展 */
}

/* 媒体查询：在小屏幕下调整标题字体大小 */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(20px + 1vmin);
  }
}

.recipe-details {
  text-align: left;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.recipe-details h2 {
  margin-top: 0;
}

.recipe-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.custom-modal {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}

/* Add more custom styles here */
